<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ma Todo</title>
</head>
<body>
        <h2>Détails de mes Todo</h2>
        <hr>
        <p> Titre : <span th:text="${titre}"></span></p>
        <p> Description : <span th:text="${description}"></span></p>
        <p> Status : <span th:text="${status}"></span></p>
        <hr>
        <p> Titre : <span th:text="${todo.name}"></span></p>
        <p> Description : <span th:text="${todo.description}"></span></p>
        <p th:if="${todo.done}"> Status : <span>termine</span></p>
        <p th:if="${!todo.done}"> Status : <span>en cours</span></p>
</body>
</html>