<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails d'un étudiant</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Détails d'un étudiant</h1>
<div>
    <p><strong>Prénom:</strong> <span th:text="${student.firstName}"></span></p>
    <p><strong>Nom:</strong> <span th:text="${student.lastName}"></span></p>
    <p><strong>Âge:</strong> <span th:text="${student.age}"></span></p>
    <p><strong>Email:</strong> <span th:text="${student.email}"></span></p>
</div>
</body>
</html>
